@import 'bootstrap-4.0.0-beta.1';
#contactdiv {
       bottom: 0;
       right: 0;
       position: fixed;
       z-index: 3000;
       padding-right: 30px;
       padding-bottom: 10px;
        }


#chatDiv {
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: 3000;
  margin-right: 500px;
  width: 300px;
  padding-bottom: 10px;
  border:  1.5px solid black;
}

#view_ajax{
  max-height: 400px;
  overflow-x:hidden;
  overflow-y: scroll;
}

.chatLine{
  max-width: 250px;
  border-radius: 5px;
  border:  1px solid blue;
  word-wrap: break-word;
}

.my-message {
  background: green;
}

.other-message {
  background: skyblue;
}

.opaque-overlay {
  overflow: hidden;
  position: relative;
}
.opaque-overlay > *:first-child:before {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  pointer-events: none;
  background: rgba(52, 58, 64, 0.25);
}
.gradient-overlay {
  overflow: hidden;
  position: relative;
}
.gradient-overlay > *:first-child:before {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  pointer-events: none;
  background: linear-gradient(to top, #343a40 0%, transparent 100%);
}
