@import 'bootstrap-4.0.0-beta.1';
#contactdiv {
       bottom: 0;
       right: 0;
       position: fixed;
       z-index: 3000;
       padding-right: 30px;
       padding-bottom: 10px;
        }


#chatDiv {
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: 3000;
  margin-right: 500px;
  padding: 5px;
  width: 300px;
  padding-bottom: 10px;
  border:  1.5px solid black;
  background-color: white;
}

#chat_history{
  max-height: 400px;
  overflow-x:hidden;
  overflow-y: scroll;
}

#view_ajax{
  list-style-type: none;
  width: 100%;
  padding-left: 0px !important; 
}

.message {      
  color: white;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 5px;
  padding-top: 5px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  width: 90%;
  position: relative;
}

.message-data {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 10pt;
}

.message-data-time {
  color: gray;
  padding-left: 6px;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.my-message {
  background: #80bbff;
}

.other-message {
  background: rgb(243, 145, 70);
}

#send_div{
  width: 100%;
}

.openChat{
  color: rgb(75, 75, 253);
}

.openChat:hover{
  color: rgb(46, 46, 141);
  text-decoration: underline;
  cursor:pointer;
}

#mapDiv {
  width: 100%;
  height: 400px;
  background-color: grey;
}

.opaque-overlay {
  overflow: hidden;
  position: relative;
}

.opaque-overlay > *:first-child:before {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  pointer-events: none;
  background: rgba(52, 58, 64, 0.25);
}
.gradient-overlay {
  overflow: hidden;
  position: relative;
}
.gradient-overlay > *:first-child:before {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  pointer-events: none;
  background: linear-gradient(to top, #343a40 0%, transparent 100%);
}

